html,body{
    margin: 0;
    padding: 0;
    font-family: 'Microsoft Yahei';
    font-size: 14px;
    color: #333333;
    background-color: #F3ECD9;
}
a{
    text-decoration: none;
    color: #333333;
}
/* 公共头尾 -start*/
.common_head{
    height: 30px;
    line-height: 30px;
    width: 100%;
    border-bottom: 1px solid #BAD1D1;
    background-color: #BAD1D1;
}
.common_head .contain{
    width: 960px;
    margin: 0 auto;
}
.common_head .contain .user_info_wrap{
    float: left;
}
.common_head .contain .user_info_wrap .at{
    float: left;
}
.common_head .contain .user_info_wrap .home:hover{
    color: #FF0000;
    cursor: pointer;
}
.common_head .contain .user_login_wrap{
    float: right;
}
.common_head .contain .user_login_wrap span.login:hover,
.common_head .contain .user_login_wrap span.register:hover{
    color: #FF0000;
    cursor: pointer;
}

.common_tail{
    height: 40px;
    line-height: 40px;
    background-color: #647277;
}
.common_tail .contain{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    color: #dfdfdf;
}
/* 公共头尾 -end*/

.main{
    min-height: 915px;
    background-color: #F3ECD9;
    margin: 0 auto;
    overflow: hidden;
}
.main .contain{
    width: 960px;
    min-height: 915px;
    /* border: 1px solid #BAD1D1; */
    margin: 0 auto;
    padding: 0;
    position: relative;
}

/*广告-start*/
.main .ad_l{
    position: absolute;
    width: 200px;
    height: 150px;
    border: 1px solid #BAD1D1;
    left: -210px;
    top: 0;
}
.main .ad_r{
    position: absolute;
    width: 200px;
    height: 450px;
    border: 1px solid #BAD1D1;
    right: -210px;
    top: 0;
}
/*广告 -end*/