.main .contain .img_t{
    margin: 20px 0;
    height: 300px;
    width: 960px;
    border: 1px solid #BAD1D1;
}
.main .contain .img_t img{
    height: 300px;
    margin: 0 auto;
}
.main .contain .li_c{
    padding-bottom: 20px;
}
.main .contain .li_c ul{
    margin: 0;
    padding: 0;
}
.main .contain .li_c ul li{
    list-style: none;
    border: 1px solid #BAD1D1;
    margin-top: 10px;
    height: 80px;
}
.main .contain .li_c ul li img{
    height: 80px;
    width: 80px;
    float: left;
}
.main .contain .li_c ul li a{
    height: 30px;
    line-height: 30px;
    width: 830px;
    padding-left: 10px;
}
.main .contain .li_c ul li p{
    display: block;
    float: left;
    height: 40px;
    width: 830px;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
}